.container {
  display: grid;
  grid-template-rows: 1fr 1fr;

  grid-template-areas: 
  "i i",
  "c c";
}

.codeEditors {
  grid-area: 'c';
  display: flex;
  background-color: hsla(225, 6%, 13%, 0.74);
}

.iframe {
  grid-area: 'i';
}
