.topbar {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 4fr 10fr;
  align-items: center;

  padding: 1.5rem 3rem;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
}

.menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.menuLink {
  color: black;
  font-size: 1.6rem;

  border: none;
  background-color: white;

  outline: none;
  position: relative;
}

.menuLink::after {
  content: '';
  width: 0;
}
.menuLink:hover:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  transition: 400ms;

  background-color: lightsalmon;
}
